
.custom-navbar {
  background-color: #000000c7; 
  padding: 18px;
}

.custom-logo {
  position: absolute;
  top: 1;
  left: 0;
  margin-top: 10px;
  margin-left: 10px;
}

.custom-navlink {
  color: #ffffff; 
  margin-right: 25px; 
  text-decoration: none; 
  padding-bottom: 5px; 
  font-size: large;
}

.custom-navlink:hover {
  color: #009dff;
}

.navbar-container {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-weight: bold;
}

.logout-button {
  margin-left: 858px;

}
  
  